<% provide(:title, @team.name) %>

<h1><%= @team.name %></h1>

<div class="row">
  <div class="col col-md-4 offset-md-4">
    <p>League: <%= @team.league.name %> <span><%= link_to 'Details', @team.league %></span></p>
    <p>Country: <%= @team.league.country.name %></p>
  </div>
</div>
