<% provide(:title, 'Seasons') %>

<h1>Seasons</h1>

<div class="card-deck">
<% @seasons.each do |season| %>
<div class="card">
  <div class="card-body">
    <p><%= "#{season.start_year} - #{season.start_year+1}" %></p>
    <p><%= link_to "Show", season_path(season) %></p>
  </div>
</div>
<% end %>
</div>
