<% provide(:title, 'Help') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    
    <h4>How to</h4>
    
    <h5>Predict</h5>
    <p>Select Leagues from the main menu. Choose the league you're interested in, and then a match
    from the upcoming matches. Click on Predict. You can only do this up to an hour before kickoff.</p>
    <h5>See another user's predictions</h5>
    <p>Select Users from the main menu. Choose a user from the list and on their profile page,
    click on <i>username</i>'s predictions.</p>
    <h5>Edit your prediction</h5>
    <p>You can only edit a prediction if kickoff is at least an hour away. Select the match from
    the league matches page and click Edit next to your prediction, or select your prediction
    from the list of all your predictions accessible from your profile page.</p>
    <h5>Edit your profile</h5>
    <p>Select Profile from the Account main menu. Click Edit in the left section under 'Actions'.</p>
    
    <h4>Legal</h4>
    
    <p>It's worth noting that the images used on this site are not owned by me, but
    by the entities which own their respective rights. Many of them are subject to
    copyright restrictions, and I'm only using them in a purely educational and
    non-commercial context. The source of said images is wikipedia.</p>
    
    <h4>FYI</h4>
    <p>This app's source code is available on <%= link_to 'Github', 'https://github.com/JosephSavioKalule/predictions', target: '_blank' %></p>
    <p>I hope that you enjoy using this app. - Joseph</p>
  </div>
</div>