<% provide(:title, 'Help') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h4>Help</h4>
    
    <p>I hope that you enjoy using this app. - Joseph</p>
    
    <p>It's worth noting that the images used on this site are not owned by me, but
    by the entities which own their respective rights. Many of them are subject to
    copyright restrictions, and I'm only using them in a non-commercial context.</p>
  </div>
</div>
