<h1>Predictions App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Predictions App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(id: @user.activation_token,
                                                    email: @user.email) %>
<p>
  You will not be able to use your account before activating it.
</p>

