<h1>Predictions App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
It's been a while since you last visited our wonderful app.
We miss you!
</p>

<%= link_to "Return now", root_url %>
<p>
  Hope to see you again soon.
</p>