<h1>Predictions App</h1>

<p>
  Hi <%= @user.name %>,
</p>

<p>
  It's been a while since you last predicted on our wonderful app. We miss you!
</p>
<p>
  Note: You can turn off emails from the Settings page.
</p>

<%= link_to "Return now", root_url %>
<p>
  Hope to see you again soon.
</p>